name: omni-tools

services:
  omniTools:
    image: iib0011/omni-tools:latest
    container_name: omni-tools
    restart: unless-stopped
    expose:
      - 80
    environment:
      TZ: Asia/Dhaka
    healthcheck:
      test: ["CMD", "curl", "--fail", "--silent", "--show-error", "--retry", "3", "--max-time", "5", "http://localhost"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.001'
          memory: 64M
    logging:
      driver: json-file
      options:
        max-size: 10m
    networks:
      ingress:

networks:
  ingress:
    external: true
