name: registry

services:
  registry:
    image: registry:latest
    restart: always
    hostname: registry
    container_name: registry
    networks:
      ingress:
    volumes:
    - /data/containers/registry:/var/lib/registry
    environment:
      REGISTRY_STORAGE_DELETE_ENABLED: true
      REGISTRY_HTTP_ADDR: 0.0.0.0:5555
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:5555/v2/_catalog"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 512M
        reservations:
          cpus: '0.001'
          memory: 64M
    logging:
      driver: json-file
      options:
        max-size: 10m

networks:
  ingress:
    external: true