name: seaweedfs

services:
  seaweedfs-master:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-master
    # ports:
    #   - "9333:9333"
    #   - "19333:19333"
    volumes:
      - /data/containers/seaweedfs/master:/data
    command: >
      master
      -port=9333
      -mdir=/data
      -defaultReplication=001
    restart: unless-stopped
    networks:
      - seaweedfs

  seaweedfs-volume:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-volume
    # ports:
    #   - "8180:8080"
    #   - "18080:18080"
    volumes:
      - /data/containers/seaweedfs/volume1:/data1
      - /mnt/samsung2TB/seaweedfs/volume2:/data2
    command: >
      volume
      -port=8080
      -dir=/data1,/data2
      -disk=nvme,ssd
      -max=20
      -dataCenter=dc1
      -mserver=seaweedfs-master:9333
    depends_on:
      - seaweedfs-master
    restart: unless-stopped
    networks:
      - seaweedfs

  seaweedfs-filer:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-filer
    # ports:
    #   - "8888:8888"
    #   - "18888:18888"
    volumes:
      - /data/containers/seaweedfs/filer:/data
      - ./config/filer.toml:/etc/seaweedfs/filer.toml:ro
    command: >
      filer
      -port=8888
      -master=seaweedfs-master:9333
      -dataCenter=dc1
      -encryptVolumeData
    depends_on:
      - seaweedfs-master
      - seaweedfs-volume
    restart: unless-stopped
    networks:
      - seaweedfs
      - ingress

  seaweedfs-s3:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-s3
    # ports:
    #   - "8333:8333"
    environment:
      WEED_S3_DEFAULT_USER_ID: ${S3_ACCESS_KEY:-s3admin}
      WEED_S3_DEFAULT_USER_SECRET: ${S3_SECRET_KEY:-s3admin}
    volumes:
      - /data/containers/seaweedfs/s3/iam/:/etc/iam/
    command: >
      s3
      -port=8333
      -filer=seaweedfs-filer:8888
      -domainName=${S3_DOMAIN:-localhost}
      -ip.bind=0.0.0.0
    depends_on:
      - seaweedfs-filer
    restart: unless-stopped
    networks:
      - seaweedfs
      - ingress

  seaweedfs-admin:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-admin
    # ports:
    #   - "8881:8881"
    volumes:
      - /data/containers/seaweedfs/admin:/data/
    command: >
      admin
      -port=8881
      -masters=seaweedfs-master:9333
      -dataDir="/data/"
      -adminUser=${ADMIN_USER:-admin}
      -adminPassword=${ADMIN_PASSWORD:-admin}
    depends_on:
      - seaweedfs-master
    restart: unless-stopped
    networks:
      - seaweedfs
      - ingress

networks:
  seaweedfs:
    driver: bridge
  ingress:
    external: true