name: vaultwarden

services:
  vaultwarden:
    image: vaultwarden/server:latest
    restart: unless-stopped
    container_name: vaultwarden
    volumes:
      - /data/containers/vaultwarden/:/data/
    environment:
      - DOMAIN
    networks:
      - ingress
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M
        reservations:
          cpus: '0.001'
          memory: 64M
    logging:
      driver: json-file
      options:
        max-size: 10m

networks:
  ingress:
    external: true
