name: arcane

services:
  arcane:
    image: ghcr.io/getarcaneapp/arcane:latest
    container_name: arcane
    hostname: arcane
    restart: unless-stopped
    expose:
      - 3552
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - arcane-data:/app/data
      - ${PROJECTS_PATH:-/srv/stacks}:/app/data/projects
    environment:
      - APP_URL=http://localhost:3552
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - ENCRYPTION_KEY=${ENCRYPTION_KEY:-CcojW9vUTXHi6wr87rr94yY5SuqVBlmk}
      - JWT_SECRET=${JWT_SECRET:-kCS7R9uDGdgvzJpu8mgvkSFGqr9JgKEr}
    networks:
      ingress: {}
    deploy:
      resources:
        limits:
          cpus: ${MAX_CPU:-4}
          memory: ${MAX_MEMORY:-2G}
        reservations:
          cpus: '0.001'
          memory: 64M
    logging:
      driver: json-file
      options:
        max-size: 10m

networks:
  ingress:
    external: true
    name: ingress

volumes:
  arcane-data:
    driver: local
    name: arcane-data