name: zitadel

services:
  zitadel:
    restart: unless-stopped
    image: ghcr.io/zitadel/zitadel:latest
    container_name: zitadel
    command: start-from-init --masterkey "${ZITADEL_MASTERKEY}"
    env_file:
      - .env
    healthcheck:
      test:
        - CMD
        - /app/zitadel
        - ready
      interval: 10s
      timeout: 60s
      retries: 5
      start_period: 10s
    user: "0"
    volumes:
      - shared-vol:/current-dir:delegated
    networks:
      - zitadel
      - ingress
    depends_on:
      db:
        condition: service_healthy
    logging:
      driver: json-file
      options:
        max-size: 10m
    deploy:
      resources:
        limits:
          cpus: '1.00'
          memory: 512M

  login:
    restart: unless-stopped
    image: ghcr.io/zitadel/zitadel-login:latest
    container_name: zitadel-login
    # If you can't use the network_mode service:zitadel, you can pass the environment variables ZITADEL_API_URL=http://zitadel:8080 and CUSTOM_REQUEST_HEADERS=Host:localhost instead.
    environment:
      - ZITADEL_API_URL=http://zitadel:8080
      - NEXT_PUBLIC_BASE_PATH=/ui/v2/login
      - ZITADEL_SERVICE_USER_TOKEN_FILE=/current-dir/login-client.pat
      - CUSTOM_REQUEST_HEADERS=Host:${ZITADEL_EXTERNALDOMAIN}
    networks:
      - zitadel
      - ingress
    user: "0"
    volumes:
      - shared-vol:/current-dir:ro
    depends_on:
      zitadel:
        condition: service_healthy
        restart: false
    logging:
      driver: json-file
      options:
        max-size: 10m
    deploy:
      resources:
        limits:
          cpus: '1.00'
          memory: 512M

  db:
    restart: unless-stopped
    image: postgres:17
    container_name: zitadel-db
    environment:
      PGDATA: /var/lib/postgresql/data
      PGUSER: ${ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME}
      PGPASSWORD: ${ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD}
      POSTGRES_USER: ${ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME}
      POSTGRES_PASSWORD: ${ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD}
    healthcheck:
      test:
      - CMD-SHELL
      - pg_isready
      - -d
      - ${ZITADEL_DATABASE_POSTGRES_DATABASE}
      - -U
      - ${ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME}
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 20s
    networks:
      - zitadel
    volumes:
      - pgdata:/var/lib/postgresql/data:rw
    logging:
      driver: json-file
      options:
        max-size: 10m
    deploy:
      resources:
        limits:
          cpus: '1.00'
          memory: 512M
networks:
  zitadel:
    driver: bridge
  ingress:
    external: true

volumes:
  shared-vol:
    name: zitadel-shared
  pgdata:
    name: zitadel-db
