name: cloudflared

services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command:
      - tunnel
      - --no-autoupdate
      - run
    restart: unless-stopped
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN:?Tunnel token is required}
      - TUNNEL_METRICS=0.0.0.0:2000
    healthcheck:
      test: ["CMD", "cloudflared", "tunnel", "--metrics", "localhost:2000", "ready"]
      interval: 30s
      timeout: 30s
      retries: 3
    networks:
      ingress: {}
      sportsverse: {}
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 512M
        reservations:
          cpus: '0.001'
          memory: 64M
    logging:
      driver: json-file
      options:
        max-size: 10m

networks:
  ingress:
    external: true
  sportsverse:
    external: true