services:
  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Dhaka
    volumes:
      - /data/containers/syncthing/config:/config
      - /data/containers/syncthing/sync:/sync
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: "3"
    deploy:
      resources:
        limits:
          cpus: 2
          memory: 512M
        reservations:
          cpus: '0.001'
          memory: 64M
    healthcheck:
      test: ["CMD", "curl", "--fail", "--silent", "--show-error", "--retry", "3", "--max-time", "5", "http://localhost:8384"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s
    networks:
      ingress:
networks:
  ingress:
    external: true
