name: redis

services:
  redis:
    image: redis:alpine
    restart: always
    expose:
      - 6379
    deploy:
      resources:
        limits:
          cpus: ${MAX_CPU:-2}
          memory: ${MAX_MEMORY:-4G}
        reservations:
          cpus: '0.001'
          memory: 64M
    logging:
      driver: json-file
      options:
        max-size: 10m
    networks:
      database:
        aliases:
          - ${REDIS_DOMAIN:-redis.localhost}

networks:
  database:
    external: ${IS_EXTERNAL:-true}
    driver: bridge
    name: database
    attachable: true
